
<ion-header class="py-3 w-100">
  <ion-title color="warning">
    <ion-icon name="cart-outline"></ion-icon>
    You Ordered
  </ion-title>
</ion-header>
  <ion-list *ngFor="let item of oders$ | async">
    <ion-item >
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-card-title>{{item.payload.val().title}}</ion-card-title>
                <p class="text-muted">
                  Lorem ipsum dolor sit amet consectetur tenetur ..
                </p>
                <ion-card-subtitle class="d-flex justify-content-start align-items-center" >
                  <ion-button fill="outline" size="small" color="danger" (click)="unOrder(item.key)">
                    <ion-icon name="remove-outline"></ion-icon>
                  </ion-button>
                  <ion-label class="px-2 " color="primary">
                    {{item.payload.val().price}} &#163; &#163;
              </ion-label>
                </ion-card-subtitle>
              </ion-col>
              <ion-col >
                <ion-img src="{{item.payload.val().src}}" alt="" class="d-block"></ion-img>
              
                </ion-col>
              </ion-row>
            </ion-grid>
      
    </ion-item>
  </ion-list>