<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      Your Opinion is matters
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item class="">
      <ion-label position="fixed" class="d-flex h-100 align-items-center">
       <ion-icon name="image-outline" size="large" color="warning" ></ion-icon>
      </ion-label>
     <!-- <ion-label position="floating">
       Enter 
     </ion-label> -->
     <ion-textarea placeholder="Your Comment"  color="dark"></ion-textarea>
    </ion-item>
  </form>
</ion-content>

